body {
  font-family: "Roboto", Courier, monospace;
  background-color: #f9f7fe;
}

.container {
  margin: 60px auto;
  max-width: 800px;
}

header h1 {
  color: #000;
  line-height: 1.5;
  text-align: center;
  font-weight: 300;
}

header h2 {
  font-size: 18px;
  text-align: center;
  color: #475053;
  font-weight: 300;
  opacity: 0.6;
}

.form-wrapper {
  margin-top: 30px;
  background-color: #fff;
  padding: 18px 23px;
  border-radius: 10px;
}

main form {
  display: flex;
}

strong {
  color: #f07810;
}

.input-prompt {
  width: 80%;
  border-radius: 10px;
  padding: 16px;
  font-size: 15px;
  border: 1px solid #475053;
}

.input-prompt::placeholder {
  color: #000;
  opacity: 0.6;
}

.button-submit {
  padding: 0 25px;
  margin-left: 18px;
  border-radius: 8px;
  border: none;
  font-size: 15px;
  background-color: #f07810;
  color: #fff;
  transition: all 150ms ease-in-out;
  cursor: pointer;
}

.button-submit:hover {
  transform: scale(1.05);
}

.container-code {
  background-color: #fff;
  color: #00204a;
  padding: 18px;
  /* border-radius: 10px; */
  line-height: 1.5;
  margin-top: 30px;
  font-size: 13px;
  border-left: 3px solid #f07810;
}

.hidden{
  display: none;
}

.hint {
  color: #475053;
  font-size: 13px;
  margin-top: 10px;
  opacity: 0.8;
}

footer {
  margin-top: 25px;
  font-size: 14px;
  text-align: center;
  opacity: 0.7;
}

.generate {
  animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}